.app{
  display:grid;
  place-items: center;
  height: 100vh;
 
  background-color: #e1e4e7;


}
.app__body{
  color:white;
  display: flex;
  background-color:#000000 ;

  height:95vh;
  width: 197vh;
  box-shadow: -29px 16px 35px -14px #174e3c;
}